<h2>Create a new game</h2>
<div class="row uniform 50%">
    <div class="6u$ 12u$(xsmall)" style="text-align: left">
        <input type="checkbox" id="customize-roles" name="customize-roles">
        <label for="customize-roles">Customize Roles</label>
    </div>
    <div class="6u 12u$(xsmall)">
        <a class="button big special fit" >Create & Join</a>
    </div>
    <div class="6u 12u$(xsmall)">
        <a class="button big special fit" >Create & Spectate</a>
    </div>
    <div class="12u$">
        <a class="button" [routerLink]="['Welcome']">Back</a>
    </div>
</div>